section {
  display: flex;
}
.calendar-header {
  margin: 0px;
}
div.calendar {

  display: flex;
  align-items: center;
  width:50%;
  /* height: 70%; */
  background: rgb(255, 255, 255);
  border-radius: 20%;
  margin: 20% auto;
  display: grid;
  grid-template-rows: 10rem auto 8rem;
  box-shadow: 1rem 4px 8px rgba(49, 49, 49, 0.76);
  cursor: pointer;
}
div.calendar-header {
  visibility: hidden;
}
div.day{
  top: 40%;
  margin-top: 5px;
  margin-bottom: 5px;
}

div.display-time {
  display: grid;
  position: relative;
  size: 20%;
  left: 10%;
  height: 60%;
  grid-column-gap: 10em;
  grid-row-gap: 10em;
  width: 70%;
  margin: 0px;
  border-radius: 20%;
}
div.display-time:visited {
  background-color: purple;
}
div.display-time:focus {
  background-color: #00c;
}
div.schedule-times {
  position: relative;
  background-color: pink;
  border-radius: 5%;
  border: 20px solid gold;
  padding: 10px;
  background: rgb(255, 255, 255);
  bottom: -80%;
  margin-bottom: 36%;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  /* width: calc(100% / 9); */
  width: 100%;
  height: 100%;
}
div.day-schedule {
/* margin-bottom: 0 0 ; */
height: 5rem;
}
input {
  background: white;
  border: #ccc 1px solid;
  border-bottom: #ccc 2px solid;
  padding: 8px;
  width: 20%;
  color: black;
  margin: 15px;
  font-size: 1em;
  border-radius: 20px;
}

button {
  align-self: center;
  width: 13%;
  /* height: 40px; */
  background: rgb(70, 70, 70);
  border-radius: 50px;
  transition: 0.5s;
  margin: 2px;
  font-size: 20px;
  color: white;
  border: none;
  font-family: Roboto;
  box-shadow: 4px 5px #88888871;
}
.submit-booking {
  background-color: rgba(255, 255, 0, 0);
  height: 60px;
}


.submit-booking form {
  position: relative;
  background: rgb(255, 255, 255);
  margin: 0 0 -8rem 0;
  /* bottom: 40%; */
    left: 25%;
}
div.day-schedule header{
background-color: rgba(255, 217, 0, 0.904);
width: 17%;
opacity: 0.6px;
}
.Week {
  margin: 0;
  padding: 10px 10px;
  background-color: gold;
  font-size: 28px;
  display: inline-block;
  width: calc(100% / 7);
  color: #666;
  text-align: center;
}
p {
  font-size: 10px;
}


content {
  width: 40em;
  height: 30em;
}
.calendar .day {
  position: relative;
  width: calc(100% / 7);
  display: inline-block;
  background-color: white;
  padding: 2%;
  margin: 0;
  box-sizing: border-box;
  z-index: 1;
  text-align: center;
}

.before {
  background-color: grey;
}
.current {
}
.selected {
  background-color: rgb(218, 17, 17);
}
.bookable:hover {
  background-color: gold;
  height: 10%;
  border-radius: 50%;
  margin: 0;
  padding: 0;
}
.calendar-body {
  height:auto;
border-radius: 40px;
  
}

@media only screen and  (max-width: 550px) and (min-width: 375px) {
  div.calendar {
    position: relative;
    width: 77%;
    justify-content: center;
    /* top: -10px; */
    grid-template-rows: auto auto auto;

    }
    div.calendar-header {
      visibility: hidden;
      display: none;
    }
    
    div.day-schedule {
  
    }

    .submit-booking form {
      position: relative;
      background: rgb(255, 255, 255);
      margin-bottom: 4px;
      bottom: 0px;
    }
    div.schedule-times {
      position: relative;
      padding: 2px;
      font-size: 12px;
      border-radius: 5%;
      border: 2px solid gold;
      background: rgb(255, 255, 255);
      margin-top: 1rem;
      display: grid;
      grid-template-columns: repeat(9, 1fr);
      /* width: calc(100% / 9); */
      width: 100%;
      height:auto;
      margin-bottom: 5px;
    }
    div.display-time {
      /* display: grid; */
      position: relative;
      size: 20%;
      left: 10%;
      height: 40%;
      grid-column-gap: 10em;
      grid-row-gap: 10em;
      width: 90%;
      border-radius: 20%;
    }
    div.calendar-body {
      position: relative;
      align-items: center;
      width:290px;
      margin: 0 auto;
      background: rgb(255, 255, 255);
      border-radius: 20%;
      grid-template-rows: 10rem auto 8rem;
      /* box-shadow: 1rem 4px 8px rgba(49, 49, 49, 0.76); */
      cursor: pointer;
      
    }
    div.Week{
      font-size: 17px;
    }
  
    div.day-schedule header {
    font-size: 13px;
    width: 25%;
    position: relative;
    bottom: -15px;
    }
}
