.schedule-times {
 
}
div.day-schedule {
  position: relative;
  height: auto;
  margin: 0px;
}
.selected {
  background-color: rgb(218, 17, 17);
}

form{
  width: 50%;
}

form button{
  width: 35%;

}