.single-amenity {
  width: auto;
  display: flex;

}
.container {
  border-radius: 40px 0px;
  background-color: #FFD700;
  padding: 20px;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  width: 80%;
  height:100%;
}

.container:hover {
  background-color: rgb(241, 151, 7);
  box-shadow: 8px 8px rgba(21, 40, 180, 0.342);

}


#image img {
  border-radius: 40px 0px;
  box-shadow: inset 4px 4px rgba(21, 40, 180, 0.342);
  width: 100%;
  height: auto;
  float: left;
  padding: 5px;
  margin-right: 15px;
}

h6{
  display: flex;
  position: relative;
  justify-content: center;
  background-color: rgb(70, 70, 70);
  box-shadow: inset 0 0 10px #221d04;
  width: 110.5%;
  right: 20px;
  height: 60px;
  align-items: center;
  font-family: Roboto;
  font-size: 30px;
  color: #ffd700;
}

@media only screen and (max-width:1200px) {
  /* For tablets: */
  /* .main {
    width: 100%;
    padding: 0;
  } */
  .container {
    border-radius: 40px 0px;
    background-color: #FFD700;
    padding: 20px;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    width: 80%
  }
  .container:hover {
    background-color: rgb(241, 151, 7);
    box-shadow: 8px 8px rgba(21, 40, 180, 0.342);
  
  }
  .right {
    width: 100%;
  }
  #imgage  img{
    border-radius: 40px 0px;
    box-shadow: inset 4px 4px rgba(21, 40, 180, 0.342);
    width: 100%;
    /* height: 8em; */
    float: left;
    padding: 3px;
    margin-right: 10px;
  }


  h6{
    display: flex;
    position: relative;
    justify-content: center;
    background-color: rgb(70, 70, 70);
    box-shadow: inset 0 0 10px #221d04;
    width: 110.5%;
    right: 20px;
    height: 60px;
    align-items: center;
    font-family: Roboto;
    font-size: 30px;
    color: #ffd700;
  }

}

@media screen and (max-width:900px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }
  .single-amenity {
    width: 8em;
    display: flex;
    flex-direction: row;
    height: 30%;
  }
  

  .container {
    border-radius: 40px 0px;
    background-color: #FFD700;
    padding: 20px;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    width: 80%;
  
  }


  #imgage  img{
    border-radius: 40px 0px;
    box-shadow: inset 4px 4px rgba(21, 40, 180, 0.342);
    width: 50%;
    /* height: 8em; */
    float: left;
    padding: 3px;
    margin-right: 10px;
  }

  .container:hover {
    background-color: rgb(241, 151, 7);
    box-shadow: 8px 8px rgba(21, 40, 180, 0.342);
  
  }
  .amenity-info p{
    font-size: 11px;
  }
  
  h6{
    display: flex;
    position: relative;
    justify-content: center;
    background-color: rgb(70, 70, 70);
    box-shadow: inset 0 0 10px #221d04;
    width: 114.6%;
    right: 20px;
    height: 35px;
    align-items: center;
    font-family: Roboto;
    font-size: 30px;
    color: #ffd700;
  }



}