.building-amenities {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto; 
  column-gap: 10px;
  row-gap: 15px;
}

@media only screen and (max-width:1000px) {
  .building-amenities {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto; 
    column-gap: 10px;
    row-gap: 15px;
  }

}

@media only screen and (max-width:500px) {
  .building-amenities {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    grid-template-rows: auto auto; 
    column-gap: 10px;
    row-gap: 15px;
  }

}
