container {
  --black: rgb(58,58,58);
  --grey: rgb(205, 205, 205);
  --white: rgb(240, 240, 240);
  --red: rgb(206, 206, 206);
  --light-blue: rgb(102, 193, 255);
  --font-line: "AirbnbCerealLight", "sans-serif";
  --font-book: "AirbnbCerealLight", "sans-serif";
  --font-black: "AirbnbCerealLight", "sans-serif";
  color: var(--black);
  font-family: var(--font-light);
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;

}

@font-face {
  font-family: "AirbnbCerealLight";
  src: url(/fonts/AirbnbCerealLight.woff);
}
@font-face {
  font-family: "AirbnbCerealBook";
  src: url(/fonts/AirbnbCerealLight.woff);
}
@font-face {
  font-family: "AirbnbCerealMedium";
  src: url(/fonts/AirbnbCerealLight.woff);
}
@font-face {
  font-family: "AirbnbCerealBold";
  src: url(/fonts/AirbnbCerealLight.woff);
}
@font-face {
  font-family: "AirbnbCerealBlack";
  src: url(/fonts/AirbnbCerealLight.woff);
}
content {
  width: 40em;
  height: 30em;
}
.calendar .day, .week {
  position: relative;
  width: calc(100% / 7);
  height: 44px;
  display: inline-block;
  background-color: white;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  z-index: 1;
  text-align: center;
} 

.before {
  background-color: grey;
}
.bookable:hover {
  background-color: aqua;
}