main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}
body {
  background-image: url("https://images.pexels.com/photos/7095765/pexels-photo-7095765.jpeg?cs=srgb&dl=pexels-john-lee-7095765.jpg&fm=jpg");
  
  background-repeat: no-repeat;
  background-size: cover;
}

/* appear - on page load */
.fade-appear {
  opacity: 0;
  z-index: 1;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 300ms linear;
}

/* enter */
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms linear;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms linear;
}

.fade-exit-done {
  opacity: 0;
}

.page-content {
  padding-top: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}


#footer {
  opacity: 0.8;
  position: relative;
  display: block;
  bottom: 100%;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
 nav {
    width: 100%;
  }
  
}
