/* main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x:hidden;
  
} */
main {
  background-image: url("https://images.pexels.com/photos/7095765/pexels-photo-7095765.jpeg?cs=srgb&dl=pexels-john-lee-7095765.jpg&fm=jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}
footer{
  width: 20%;
}


/* appear - on page load */
.fade-appear {
  opacity: 0;
  z-index: 1;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 300ms linear;
}

/* enter */
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms linear;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms linear;
}

.fade-exit-done {
  opacity: 0;
}
.homeContainer{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.ContainerOne{
  bottom: 30%;
  color: black;
opacity: 0.95; 
width: 90%;
margin-bottom: 5%;
margin-left: 5%;
background-color: rgba(255, 255, 255, 0.651);
}
.ImgOne{
  margin-right: 2%;
  width: 50%;
  
}

<<<<<<< HEAD
.ImgTwo{
  margin-left: 5%;
  width: 40%;
}



.ContainerTwo{
  float: right;
  color: black;
  background-color: rgba(255, 255, 255, 0.699);
  width: 90%;
  opacity: 0.99; 
  margin-left: 5%;

}
/* .page-content {
  padding-top: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
} */
=======
.page-content {
  /* padding-top: 5em;
  display: flex;
  justify-content: center;
  align-items: center; */
}
>>>>>>> 6e55416fa258182ba25521e73e2016db6d627193




@media only screen and (max-width: 908px) {
  /* For mobile phones: */
 nav {
    width: 100%;
  }
  main {

    width: 100%;
 
  }
  body {
  
  
  }

}