.schedule-times {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1em;
  grid-row-gap: 1em;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 18em;
  text-align: center;
 
  
}