/* .homeContainer{
  display: flex;
  flex-wrap: nowrap;
  background-color: DodgerBlue;
}

.ContainerOne{
  bottom: 30%;
background-color: white;
width: 70%;
}

.ContainerTwo{
  display: flexbox;
  background-color: white;
  width: 70%;

} */