.register {
  width: 90%;
  display:grid;
  margin: 40px;
  padding-right: 30px;
  font-family: Roboto;
  justify-items: center;
  text-align: center;

}
.register-container{
  justify-items: center;
  text-align: center;
  background-color: #ffd700;
  justify-content: center;
  border-radius: 50px 0px;
  width: 60%;
 margin-left: 20%;
 margin-bottom: 5%;
  padding: 20px;
  font-family: Roboto;
  box-shadow: 6px 6px rgba(21, 40, 180, 0.342);
}

.register-container input {
  background: white;
  border: #ccc 1px solid;
  border-bottom: #ccc 2px solid;
  padding: 8px;
  width: 250px;
  color: black;
  margin-bottom: 10px;
  font-size: 14px;
  border-radius: 20px;
}

h6{
  display: flex;
  position: relative;
  justify-content: center;
  background-color: rgb(70, 70, 70);
  box-shadow: inset 0 0 10px #221d04;
  width: 105%;
  right: 20px;
  height: 60px;
  align-items: center;
  font-family: Roboto;
  font-size: 40px;
  color: #ffd700;
}

@media only screen and (max-width:1024px) {










}


@media screen and  (max-width: 550px) and (min-width: 375px) {


.register {

  width: 50%;
  display:grid;
  grid-template-columns: auto;
  font-family: Roboto;
  margin: 0px;
  justify-items: center;
  text-align: center;

}
.register-container{
  position: relative;
  /* left: 20px; */
  justify-items: center;
  text-align: center;
  background-color: #ffd700;
  border-radius: 50px 0px;
  box-shadow: 6px 6px rgba(21, 40, 180, 0.342);
  padding: px;
  width: 80%;
  margin: 40px;
}
.register-container input {
  background: white;
  border: #ccc 1px solid;
  border-bottom: #ccc 2px solid;
  padding: 8px;
  width: 250px;
  color: black;
  margin-bottom: 10px;
  font-size: 14px;
  border-radius: 20px;
}
h6{
  display: flex;
  position: relative;
  justify-content: center;
  background-color: rgb(70, 70, 70);
  box-shadow: inset 0 0 10px #221d04;
  width: 115.5%;
  right: 20px;
  height: 60px;
  align-items: center;
  font-family: Roboto;
  font-size: px;
  color: #ffd700;
}
#title_label{
  padding-top: 22px;
}


}
.register-container #btn_submit{

position: relative;
left:30px;
}